<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ site.url }}"></span>{{ site.title_left }} </span>{{ site.title_right }}</a></h1>
    <ul class="navbar">
    {% for blanca in site.data.menu %}
        {% if blanca.subcategories != null %}
        <li><a href="{{ blanca.href }}" class="page-link">{{ blanca.title }}</a>
        <ul class="sub-menu">
        {% for subcategory in blanca.subcategories %}
        <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
         <li><a href="{{ blanca.href }}" class="page-link">{{ blanca.title }}</a>
        {% endif %}
        </li>
        {% endfor %}
        </ul>
    </ul>
  </div>
</nav>
